{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<h2>Índice de Legibilidad de Coleman-Liau (idioma inglés)</h2><br>
    <div style="text-align: center;">
        <p>Formula: I = 0.0588 &times; L - 0.296 &times; S - 15.8</p>
        <ul style="display: inline-block; text-align: left;">
            <li>L es el número promedio de letras por 100 palabras</li>
            <li>S es el número promedio de oraciones por 100 palabras</li>
        </ul>
    </div>

</h4>
<p>Introduzca el texto en ingles a analizar (menos de 200 palabras):</p>
    <form action="/" method="post">
        <textarea id="textanalisis" name="textanalisis" placeholder="Texto" ></textarea>
        <input type="submit" value="Analizar">
    </form>
    <br>
    {% if show_index %}
        <span style="border: 2px solid black; padding: 10px">
            Índice de legibilidad: {{ indice }}
        </span>
    {% endif %}
{% endblock %}
