!DOCTYPE html>
<h2>Menú Lateral</h2>
<ul>
    <li><a href="/">Inicio</a></li>
    <li><a href="/about">Acerca de</a></li>
    <li><a href="/contact">Contacto</a></li>
    <li><a href="/blog">Blog</a></li>
</ul>


<h3>Enlaces rápidos</h3>
<ul>
    <li><a href="#">Politica de Privacidad</a></li>
    <li><a href="#">Términos y Condiciones</a></li>
</ul>

<script>
    $(document).ready(function() {
        $('.menu-item').click(function() {
            window.location.href = $(this).attr('href');
        });
    });
</script>