h1 {
    font-family: 'Time New Roman', cursive;
    font-style: italic;
    font-size: 30px;
    color: rgb(26, 32, 11);
    font-weight: bold;
}

h1,h3{
  font-family: 'Time New Roman', cursive;
  text-align: left;
  font-size: 40px;
  color: rgb(79, 100, 30);
}

h5 {
  font-family: 'Time New Roman', cursive;
  text-align: left;
  font-size: 30px;
  color: rgb(79, 100, 30);
}

h6 {
font-family: 'Time New Roman', cursive;
text-align: center;
font-size: 30px;
color: rgb(79, 100, 30);
font-weight: bold;
}

.contenedor {
    display: flex;
  }

  .carousel-inner {
    max-height: 1000px;
  }

.carousel-caption h2,
.carousel-caption h5,
.carousel-caption p {
text-align: center;  
color: rgb(8, 8, 8);
}