h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    text-align: center;
    color: rgb(26, 32, 11);
    font-weight: bold;
    padding: 10px 15px 20px 25px;
}

h2{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 25px;
  color: rgb(79, 100, 30);
  padding: 10px 15px 20px 25px;
}

h3, h5 {
  font-family: 'Roboto', sans-serif;
  text-align: left;
  font-size: 20 px;
  color: rgb(79, 100, 30);
}

h6 {
font-family: 'Roboto', sans-serif;
text-align: center;
font-size: 16px;
color: rgb(79, 100, 30);
font-weight: bold;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.contenedor {
    display: flex;
}


.my-carousel {
  border: 3px solid black;
}

.image-text-container {
  display: flex;
  flex-direction: column;
}

.image-caption {
  display: flex;
  background: lightgray;
  color: rgb(8, 8, 8);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body {
  font-family: 'Roboto', sans-serif;
}

hr {
  border: 1px solid #000;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flex-item {
  margin: 10px;
}