h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
}

#myNavbar .nav-link {
    color: #fff !important;
    margin-right: 12px; /* Ajusta este valor a tu gusto */
}
@keyframes colorchange {
    0%   {background-color: gray;}
    50%  {background-color: blue;}
    100% {background-color: green;}
  }

  .mybook {
    animation-name: colorchange;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }

  .contenedor {
    display: flex;
  }

  .carousel-inner {
    max-height: 1000px;
  }

.carousel-caption h2,
.carousel-caption h5,
.carousel-caption p {
color: rgb(8, 8, 8);
}

h1,h3 {
    text-align: left;
    color: rgb(79, 100, 30);
}

h6 {
  text-align: right;
  color: rgb(79, 100, 30);
  font-weight: bold;
}
