h1 {
    font-family: 'Dancing Script', cursive;
    font-style: italic;
    font-size: 30px;
    color: rgb(26, 32, 11);
    font-weight: bold;
}

h1,h3 {
  text-align: left;
  font-size: 30px;
  color: rgb(79, 100, 30);
}

h6 {
text-align: right;
color: rgb(79, 100, 30);
font-weight: bold;
}

#myNavbar .nav-link {
    color: #fff !important;
    margin-right: 16px;
}
@keyframes colorchange {
    0%   {background-color: gray;}
    50%  {background-color: blue;}
    100% {background-color: green;}
  }

  .mybook {
    animation-name: colorchange;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }

  .contenedor {
    display: flex;
  }

  .carousel-inner {
    max-height: 1000px;
  }

.carousel-caption h2,
.carousel-caption h5,
.carousel-caption p {
color: rgb(8, 8, 8);
}



.banner {
  background-color: #f0f0f0;
  text-align: center;
  padding: 20px 0;
  margin-bottom: 20px;
  font-size: 28px;
  color: rgb(79, 100, 30)

}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 40px;
  text-align: center
}

.grid-item img {
  width: 100%;
  height: auto;
  text-align: center;
}
/* Estilos para la sesion texto de la pagina hobby */
#texto {
  display: flex;
}
#texto .column {
  flex: 1;
  margin: 10px;
  text-align: justify;
}
#texto h6 {
  text-align: center;
}

footer {
  font-family:'Times New Roman', Times, serif;
  text-align: right;
  font-style: italic;
  font-weight: bold;
  color: rgb(79, 100, 30);
  margin-top: 20px;
  background-color: #f0f0f0;
}


/* Estilos agregados de la plantilla que tome del sitio del tutorial  */
<style>
    * {
      box-sizing: border-box;
    }

    .menu {
      float: left;
      width: 20%;
      text-align: center;
    }

    .menu a {
      background-color: #e5e5e5;
      padding: 8px;
      margin-top: 7px;
      display: block;
      width: 100%;
      color: black;
      text-align: justify;
    }

    .main {
      float: left;
      width: 60%;
      padding: 0 20px;
    }

    .right {
      background-color: #e5e5e5;
      float: left;
      width: 20%;
      padding: 15px;
      margin-top: 7px;
      text-align: center;
    }

    @media only screen and (max-width: 620px) {
      /* For mobile phones: */
      .menu, .main, .right {
        width: 100%;
      }
    }