{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
             <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Password (again)" type="password">
        </div>
            <button class="btn btn-primary" type="submit" id="registerButton">Register</button>
    </form>
{% endblock %}

<script>
    document.getElementById('password').oninput = function() {
         validatePassword();
      }
   document.getElementById('confirmation').oninput = function() {
        validatePassword();
    }

    function validatePassword(){
        var password = document.getElementById('password').value;
        var confirmation = document.getElementById('confirmation').value;
        var registerButton = document.getElementById('registerButton');
        if(password != confirmation) {
            // Deshabilitar el botón de registro
            registerButton.disabled = true;
         } else {
         // Habilitar el botón de registro
             registerButton.disabled = false;
        }
    }
</script>
